#masterContainer
{
    vertical-align: top;
    /*background-color: yellow*/;
    width:1200px;
    height: 690px;
}

#controlPanel
{

}

.row
{
    vertical-align: top;
}

#systemContainer
{
    /*background-color: red*/;
    display:inline-block;
    float:left;
}

.moduleContainer
{
    border: 1px solid black;
    display:inline-block;
    padding: 0;
    position:relative;
    vertical-align: top;
    /*background-color: blue*/;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
}

#receiverContainer
{
    width: 200px;
    height: 200px;
}

#sorterContainer
{
    width: 600px;
    height: 200px;
}

#storage1Container
{
    left: 200px;
}

#storage2Container
{
    left: 400px;
}

#storage3Container
{
    left: 400px;
}

.storageContainer
{
    width: 200px;
    height: 200px;
}

.emptyContainer
{
    width: 200px;
    height: 200px;
    border: none !important;
    margin: 1px;
}

#controlsContainer
{
    /*background-color: green*/;
    display:inline-block;
    height: 100%;
    width: 300px;
    float: right;
}

.control{
    display:block;
    margin-bottom: 20px;
    width:100%;
    padding:10px;
}

.disconnected
{
    background-color: lightgray;
}

.receiverMsg{
    color:red;
}

.sorterMsg{
    color:blue;
}

.storage1Msg{
    color:#005500;
}

.storage2Msg{
    color:#00CC00;
}

.storage3Msg{
    color:#009900;
}

.debugname{
    display:inline-block;
    width:75px;
}

.debugdata{
    display: inline-block;
}

#debugContainer{
    visibility: hidden;
}

#debugDataContainer{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.notfullStorage
{
    border: 2px solid green;
}

.fullStorage{
    border: 2px solid red;
}

.rainbowtext {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
}

.white{
    color:white;
}

.smalltext
{
    font-size: 12px !important;
    vertical-align: top;
}

.smallheader{
    font-size: 24px;
}

body{
    font-family: "Arial";
}

h1, h2
{
    margin: 10px 0 10px 0;
}

#awesome{
    letter-spacing: 4px;
}

#mainHeader{
    color:#FF22F6;
}

.dancer{
    position: relative;
    width:300px;
    max-height: 300px;
}

#dancercontainer
{
    position:absolute;
    top:0px;
    left:0px;
}
