* {
    font-family: monospace;
}



#heading {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #999;
}

.textbox {
    height: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #ddd;
    padding-right: 100px;
    overflow-y: scroll;
}

.sendmsg {
    border-style: solid;
    border-width: 2px;
    border-color: #ddd;
    padding: 10px;
}
